body {
    font-family: "Helvetica", sans-serif;
    font-weight: 400;
}

.card {
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 16px;
    margin: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* width: calc(25% - 16px); */
    /* Adjust the width to occupy 25% of the container with spacing */
    float: left;
    /* height: 220px; */
    /* Set a fixed height for all cards */
    box-sizing: border-box;
    /* Include padding in the element's total width */
    margin-bottom: 20px;
    /* Add extra white space below the card */
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card i {
    margin-right: 4px;
}

.card:nth-child(odd) {
    background-color: aqua;
}

.card:nth-child(even) {
    background-color: aquamarine;
}

.filter-area {
    margin: 20px;
    color: blue;
}

/* Rest of the CSS code remains the same */
.grid-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-area {
    margin: 0 auto;
    margin-top: 10px;
    max-width: 1200px;
}

.card h4 {
    margin-top: 0;
}

.logo-image img {
    max-width: 400px;
    max-height: 200px;
    display: flex;
}

.filter-group {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

#reset-filter {
    background-color: #ddd;
    border: none;
    background-color: blue;
    color: aquamarine;
    padding: 8px 16px;
    cursor: pointer;
}

#reset-filter:hover {
    color: blue;
    background-color: aquamarine;
}

.sort-area {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.sort-group {
    display: flex;
    align-items: center;
    gap: 5px;
}
