body {
    font-family: "Helvetica", sans-serif;
    font-weight: 400;
}

.card {
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 16px;
    margin: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* width: calc(25% - 16px); */
    /* Adjust the width to occupy 25% of the container with spacing */
    float: left;
    /* height: 220px; */
    /* Set a fixed height for all cards */
    box-sizing: border-box;
    /* Include padding in the element's total width */
    margin-bottom: 20px;
    /* Add extra white space below the card */
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card i {
    margin-right: 4px;
}

.card:nth-child(odd) {
    background-color: rgb(214, 251, 251);
}

.card:nth-child(even) {
    background-color: rgb(199, 250, 233);
}

.filter-area {
    margin: 20px;
    /* color: blue; */
}

/* Rest of the CSS code remains the same */
.grid-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-area {
    margin: 0 auto;
    margin-top: 10px;
    max-width: 1200px;
    margin-left: 10%;
    margin-right: 5%;
}



.card h4 {
    margin-top: 0;
}

.logo-image img {
    max-width: 400px;
    max-height: 200px;
    display: flex;
}

.filter-group {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

#reset-filter {
    background-color: #ddd;
    border: none;
    background-color: blue;
    color: aquamarine;
    padding: 8px 16px;
    cursor: pointer;
}

#reset-filter:hover {
    color: blue;
    background-color: aquamarine;
}

.sort-area {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.sort-group {
    display: flex;
    align-items: center;
    gap: 5px;
}


.card-member {
    width: 360px;
    height: 220px;
    background-color: rgba(29, 29, 54, 1);
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    padding: 20px;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    margin-bottom: 30px;
}

.card-member.flipped {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front {
    z-index: 2;
}

.card-back {
    transform: rotateY(180deg);
    z-index: 1;
    margin-left: -40px;
}

.card-member .card-name {
    font-size: 24px;
}

.card-member .card-number {
    font-size: 16px;
    /* margin-bottom: 10px; */
    text-align: right;
    margin-right: 40px;
}

.card-member .card-logo {
    margin-top: auto;
    margin-left: 0;
    margin-right: 10px;
}

.card-member .card-logo img {
    /* width: 120px; */
}

.card-member .info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin-top: 20px; */
}

.card-member .info-container .column {
    width: 80%;
    margin-right: 40px;
}

.column-logo {
    position: absolute;
    margin-left: 230px;
    width: 30%;
}

.card-member .info-container .column-label {
    width: 25%;
}

.card-member .info-container .column-label .info-label {
    font-size: 16px;
    /* margin-bottom: 5px; */
    text-align: right;
    margin-right: 10px;
}

.card-member .info-container .column .info-value {
    font-size: 16px;
    /* margin-bottom: 7px; */
}

.info-club {
    position: absolute;
    bottom: 20px;
    /* width: 100%; */
    text-align: center;
    margin-left: 35px;
}
